include ../arrow/arrow
include ../0-chevron/chevron

mixin btnExtra(spec)
	if spec.hasChev
		+chevron(spec.chevron)
	else if spec.hasArrow
		+arrow(spec.arrow)

mixin btn(spec)
	-
		spec = defaultTo(spec, {
			class : '',
			text: 'Button text',
			mods : [],
			href : '#',
			type : 'a',
			extras : {
				arrow : {},
				chevron : {}
			}
		});

		// available mods: ['clear', 'noArrow', 'hasChevron']
		var modClasses = mods('btn', spec.mods);

		var extra = {
			hasArrow : spec.mods.indexOf('noArrow') === -1,
			hasChev : spec.mods.indexOf('hasChevron') > -1,
		}

		for (var module in spec.extras){
			//adds the spec.extras settings to the "extra" object
			extra[module] = spec.extras[module];

			//Applies btn__[module] class without the risk of it being overitten
			extra[module].class = isset(extra[module].class) ? `${extra[module].class} btn__${module}` : ` btn__${module}`;
		}

		var elem, attr;

		if (spec.type === 'a'){
			elem = 'a';
			attr = {href : spec.href};
		} else {
			elem = 'button';
			attr = {type : spec.type};
		}

		attr = defaultTo(attributes, attr);

	#{elem}.btn(class=spec.class + modClasses)&attributes(attr)
		| #{spec.text}
		+btnExtra(extra)
