
include ../tabs/tabs

-
	function render(pugMarkup, settings, locals){
		return compile(pugMarkup, { pretty: true })(locals);
	}

	var defaultTo = require('default-to').default;

mixin demo__tab(demoMarkup)
	-var countKeys = require('count-keys');
	-var isObj = typeof demoMarkup === 'object' && !Array.isArray(demoMarkup);
	-var markupString = isObj ? demoMarkup.html : demoMarkup;
	-var html = render(markupString);

	if isObj && demoMarkup.html || !isObj
		.demo__result.demo__segment
			!=html

	//- I need to hide the TK-noDots class from users (hacky fix)
	- markupString = markupString ? markupString.replace('.TK-noDots', '') : markupString;
	- html = render(markupString);

	if isObj
		.demo__grid.grid.grid--ieFloat(class=`grid--cols-${countKeys(demoMarkup, {maxDepth: 1})}`)
			each markup, type in demoMarkup
				- markup = type === 'html' ? html : markup;
				.grid__cell.demo__markup.demo__segment(class=type)
						pre
							code(class=type)= markup
	else
		.demo__markup.demo__segment
			pre
				code.html= html

- var i = 1;

mixin demo(demoMarkup, spec)
	-
		spec = defaultTo(spec, {
			classes: '',
			hasTabs: true,
		})

		var page = get.current.link.replace(/\/pages\/([0-9A-z-]+?)\//, '$1')
		var id = `${page}-${i++}`;

	figure.demo(class=spec.classes, role="group", id=id)
		if block
			figcaption.demo__summary.demo__segment
				block
		.demo__content
			if spec.hasTabs
				+tabs({links: Object.keys(demoMarkup)})
					+tabs__content('Classes format')
						+demo__tab(demoMarkup.classes)
					+tabs__content('Mixin format')
						+demo__tab(demoMarkup.mixin)
			else
				+demo__tab(demoMarkup)