
mixin tabs__content(tabName, spec)
	-
		spec = defaultTo(spec, {
			classes : '',
			attr: {},
		});

	figure.tabs__content(class=spec.classes)&attributes(spec.attr).JS-tabs__content
		if tabName
			figcaption.tabs__title= tabName
		if block
			block
		else
			p This is an example paragraph for the tab module

mixin tabs(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
			attr: {},
			links: []
		});

	.tabs(class=spec.classes)&attributes(spec.attr).JS-tabs
		.tabs__links.grid.grid--hasInners.grid--noMQs.grid--gutter-tabs.grid--outerGutters-bottom(class=`grid--cols-${spec.links.length}`)
			each link, i in spec.links
				.grid__cell
					button.tabs__link.grid__inner.btn.JS-tabs__trigger= link
		.tabs__contentWrap
			if block
				block
			else
				p This is an example paragraph for the tabs module
