mixin form(formFields, spec)
	-
		spec = defaultTo(spec, {
			classes : '',
			submit : 'Submit',
			action : '#',
			required : true,
		});

	form.form(class=spec.__class,action=spec.action,method=get)&attributes(attributes)

		each item in formFields
			-
				var label = item.label;
				var id = idSafe(label);

				//- all of these can be overridden on any individual form field
				var item = defaultTo(item, {
					'placeholder' : '',
					'type' : 'text',
					'value' : '',
					'checked_by_default' : false,
					'required' : spec.required,
					'default' : '- Please select one -',
					'options' : [
						'option 1',
						'option 2',
						'option 3',
					],
				});

				var requiredStar = item.required ? ' <span class="form__required">*</span>' : '';

			if item.type === 'select'
				.form__item.form__select
					label.form__label(for=id) #{label} !{requiredStar}
					select.form__select(id=id)
						option #{item.default}
						each option in item.options
							option #{option}

			else if item.type === 'textarea'
				.form__item.form__textarea
					label.form__label(for="'.$id.'") #{label} !{requiredStar}
					textarea.form__textinput.form__textinput--textarea(id=id, placeholder=item.placeholder, value=item.value)

			else if item.type === 'textarea'
				.form__item.form__checkboxes
					fieldset
						legend.form__label.form__legend #{label} !{requiredStar}
						ul.form__list.TK-noDots.grid.grid--cols-4.grid--wrap.grid--noGrowth(id=id)
							each option in item.options
								- var optionID = idSafe(option)
								li.form__listItem.grid__cell
									input(type='checkbox', id=optionID, name=id)
									label.form__label.form__label--nested(for=optionID) #{option}

			else if item.type === 'radio'
				.form__item.form__radios
					fieldset
						legend.form__label.form__legend #{label} !{requiredStar}
						ul.form__list.TK-noDots.grid.grid--cols-4.grid--wrap.grid--noGrowth(id=id)
							each option in item.options
								- var optionID = idSafe(option)
								li.form__listItem.grid__cell
									input(type='radio', id=optionID, name=id)
									label.form__label.form__label--nested(for=optionID) #{$option}

			else
				.form__item.form__textfield
					label.form__label(for=id) #{label} !{requiredStar}
					input.form__textinput(type=item.type, id=id, value=item.value, placeholder=item.placeholder)

		.form__item.form__actions
			input.form__submit.btn(type='submit', value=spec.submit)
