//-not sure why this doesn't compile :/
//- loaded using config-loader.pug file instead
//-include /_pugFunctions/idSafe

mixin YTvideo(spec)
	-
		spec = defaultTo(spec, {
			classes : {
				wrapper: '',
				iframe: ''
			},
			title : 'This is an example paragraph for the YTvideo module',
			id : 'm_Y0EbUz7uw',
		});

	.YTvideo(class=spec.classes.wrapper)
		iframe(
			class=spec.classes.iframe
			title=spec.title
			id=spec.id,
			width="560"
			height="315"
			src=`https://www.youtube-nocookie.com/embed/${spec.id}?rel=0&enablejsapi=1&controls=1&showinfo=0&wmode=transparent`
			frameborder="0"
			allowfullscreen
		)&attributes(attributes)
