
include ../_pugFunctions/config/config-loader.pug

include /_1_modules/alert/alert
include /_1_modules/skipLinks/skipLinks
include /_1_modules/siteContainer/siteContainer
include /_1_modules/pageLayout/pageLayout
include /_1_modules/nav/nav
include /_1_modules/nextPrev/nextPrev
include /_1_modules/0-cmsContent/cmsContent

include /_1_modules/demo/demo

include /_1_modules/owner/owner
include /_1_modules/logo/logo

include /_1_modules/svg/svg

//- console.log(location)
//- console.log(layout)
//- console.log(get.current.title)

- var pageTitle = stripTags(get.current.altTitle || get.current.title);

doctype html

<!--[if lt IE 9]><html class='lt-ie10 lt-ie9 no-js' lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 9]><html class='ie9 lt-ie10 no-js' lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title #{pageTitle} | Gutter Grid
	meta(name='description', content=pkg.description)
	meta(name='viewport', content='width=device-width, initial-scale=1.0')


	//- Open Graph data
	meta(property='og:site_name', content='Gutter Grid')
	meta(property='og:title', content='Gutter Grid: '+pageTitle)
	meta(property='og:description', content=pkg.description)
	meta(property='og:type', content='article')
	meta(property='og:image', content='http://gutter-grid.net/assets/images/social-media.jpg')
	meta(property='og:url', content=`http://gutter-grid.net${get.current.path}`)

	//-twitter
	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:creator', content='@Daniel_Tonon')
	meta(name='twitter:title', content='Gutter Grid: '+pageTitle)
	meta(name='twitter:description', content=pkg.description)
	meta(name='twitter:image', content='http://gutter-grid.net/assets/images/social-media.jpg')

	//- favicon
	link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
	link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="/manifest.json")
	link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#63a52a")
	meta(name="theme-color", content="#ffffff")

	//- Google analytics code
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		//Unncomment these 2 lines and update the tracking code to enable google analytics tracking
		ga('create', 'UA-90397907-1', 'auto');
		ga('send', 'pageview');

	script(src=basePath+'/assets/scripts/modernizr.min.js')

	block stylesheets
		<!--[if gt IE 8]><!-->
		link(rel='stylesheet', href=basePath+'/assets/styles/main.css')
		<!--<![endif]-->

		<!--[if lt IE 9]>
		link(rel='stylesheet', href=basePath+'/assets/styles/noMQs-main.css')
		<![endif]-->

body

	h1.TK-visHid= pageTitle

	//holds the svg sprite
	div.svgSprite(style="display:none")
		include ../../tmp/svg-symbols.svg

	//- appears in IE <= 9
	<!--[if lt IE 9]>
	+alert({type:'error'})
		p You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com/") upgrade your browser] to improve your experience.
	<![endif]-->

	//- I've found the <noscript> tag to not always work properly
	+alert({type:'nojs'})
		p Please #[a(href="http://www.enable-javascript.com/") enable javascript] to access the full functionality of this site

	+siteContainer({classes:{outer:'wrapper'}})

		+skipLinks()

		header.header
			+pageLayout()
				+logo({classes: 'title', elem: 'p'})

				pre.header__npm: code npm install gutter-grid --save

		block mainArea
			.mainArea.TK-flexGrow
				+pageLayout()
					#container
						p.tagline=pkg.description
					#main(role='main')
						.download-bar
							.inner
								a.download-button.tar(href='https://github.com/Dan503/gutter-grid/tarball/master')
									span Download #[span.TK-visHid tar]
								a.download-button.zip(href='https://github.com/Dan503/gutter-grid/zipball/master')
									span Download #[span.TK-visHid zip]
								a.code(href='https://github.com/Dan503/gutter-grid') View Gutter Grid on GitHub
							span.blc
							span.trc
						.grid.grid--gutter-body
							+nav({classes: 'grid__cell grid__cell--noResize'})
							.grid__cell
								article.markdown-body#content
									p.TK-nonDesktop
										strong: em This documentation is best read on a desktop/laptop computer for the sake of viewing the live demos at all screen sizes.

									+cmsContent()
										h2= get.current.altTitle || get.current.title
										block content

									+nextPrev()

		footer.footer
			+pageLayout()
				+owner()

				.creds
					small
						| theme by #[a(href='https://twitter.com/jonrohan/') Jon Rohan] (although lots of alterations have been made to it)


	script(src=basePath+'/assets/scripts/plugins/highlight.pack.js')
	script(type='text/javascript').
		hljs.initHighlightingOnLoad();

	script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")

	<!--[if lt IE 9]>
	//- I couldn't get main.js to work in IE so it get's it's own version
	script(src=basePath+'/assets/scripts/ie8-main.js')
	<![endif]-->

	<!--[if gt IE 8]><!-->
	script(src=basePath+'/assets/scripts/main.js')
	<!--<![endif]-->
</html>
